footer{
    bottom: 0;
    color: black;
    height: 5rem;
    width: 100%;
    background-color: rgba(0,0,0,0.637);

}

footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

footer ul li a {
    text-decoration: none ;
    color: rgb(196, 230, 198);
    font-size: 24px;
}

