/* hoja de estilos de css */

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;}
  
  
  
       
    
  
    main {
        width: 70%;
        background: rgb(255, 255, 255);
        padding: 20px;       
        box-sizing: border-box;
    }
    
    aside{
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  background:#ccc;
  float: left;
  
    }
  
    .contenedor {
  
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;
      overflow: hidden;
    }
    header{
    @extend %flex-center;
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 100px;
        z-index: 1000;
        transition: 0.6s;
        background: rgb(202, 219, 211);
    }
  
    header .Mdqdronevision{
        font-weight: 700;
        color: rgb(26, 103, 08) ;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;}
  
   header ul {
       display: flex;
       justify-content: center;
       align-items: center;
   }     
  
   header ul li a{
      margin: 0 15px;
      text-decoration: none;
      color: rgb(26, 103, 58); 
      letter-spacing: 2px;
      font-weight: 400;}
  
      
  
   .banner{
       width: 100%;
       min-height:100vh;
       background: url("../imagenes/defondo.jpg");
       display: flex;
       justify-content: center;
       background-size: cover;
   }
  
   .banner { 
        h2{
        color: #fff;
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1em;
        span{
        color: blueviolet;
    
    }
}
       
   }
  
   .banner h2 
  
   .sec{
       /* background-image: url("../imagenes/index2.jpg");*/
      
     
      padding: 100px;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
  
   .sec .content{
       position: relative;
       text-align: center;
       width: 100%;
   }
          
  .btn {
      display: inline-block;
      background: rgb(211, 205, 205);
      color:#fff;
      padding: 10px; 
      text-decoration:none;
      
  }
  
  h3{
      font-size: 40px;
      font-weight: 200px;
      margin-bottom: 10px;
  }
  
  p{
      font-size:18px;
      font-weight: 300;
      margin-bottom: 20px;
  }
  
  .galeria {
      
      margin: 40px;
  }
  
  .galeria__imagen{
      object-position: top ;
      width: 600px;
      height: 600px;
      object-fit: cover;
            
  }
  
  
 
    
      
      
  
     
  footer ul {
      list-style: georgian;
  }
  
  footer ul li a {
      text-align: center;
      text-decoration: none ;
      color: rgb(196, 230, 198);
      font-size: 24px;
      position: absolute;
      bottom: 0;
      width: 100%;
      

  }
  
  @media only screen and (max-width:1024px){
       
      footer{
          background-color: yellow;
      }
      header{
          height: fit-content; 
        flex-direction: column-reverse;
        position: relative;
      }
      header nav ul {
          flex-direction: column;
      }
      
  .body{
   height:  fit-content;
   flex-direction: column;
  }
      
  .main {
      flex-direction: column;
  }
  }
  
  
  .grid-container{
      display: grid;
      background-color: rgb(255, 220, 220);
      grid-template-columns: auto auto auto  ;
      
  }
  
  .grid-container div{
      background-color:  rgb(11, 165, 90);
      text-align: center;
      color: rgb(200, 196, 196);
      border: 1px solid  rgb(167, 194, 187);
  
  }
     
  section {
     
      background-color: rgb(197, 205, 205);
  }
  
  .carousel-item{
      height: 450px;
  }
  
  .carousel-item img{
      height: 450px;
  }
  
  .logo{
  width:150 px;
  }
  
  .bienvenido{
      color: rgb(23, 103, 08) (29, 84, 36);
   }
  
   
   