section {
     
    background-color: rgb(186, 189, 189);
}

.sec{
    /* background-image: url("../imagenes/index2.jpg");*/
   
  
   padding: 100px;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
       }